<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="books/fragments::head">
    <title>Add New Book</title>
</head>
<body>
<div id="wrapper">
    <div id=header th:replace="books/fragments::menu"></div>
    <div id="contentliquid">
        <div id="content">
            <form action="#" th:action="@{/savebook}" th:object="${book}" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>PARAMETER</th>
                        <th>VALUE</th>
                    </tr>
                    <tr>
                        <label title="Name">
                            <td>Name:</td>
                            <td>
                                <input type="text" th:field="*{name}"/>
                            </td>
                        </label>

                    </tr>
                    <tr>
                        <label title="Price">
                            <td>Price:</td>
                            <td>
                                <input type="number" th:field="*{price}"/>
                            </td>
                        </label>
                    </tr>
                    <tr>
                        <label title="Date of release">
                            <td>Date of release:</td>
                            <td>
                                <input type="date" th:type="date" th:field="*{{dateofissue}}">
                            </td>
                        </label>

                    </tr>
                    <tr>
                        <label title="Author">
                            <td>Author:</td>
                            <td>
                                <select th:field="*{author}">
                                    <option th:each="auth : ${authors}" th:value="${auth.getId()}" th:text="${(auth.getName() + ', ' + auth.getSurname())}"></option>
                                </select>
                            </td>
                        </label>
                    </tr>
                    <tr>
                        <td>
                            <button th:border="0" class="glow-button" type="submit">SAVE</button>
                        </td><td/>
                    </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>